html,
body {
    margin: 0;
    height: 100%;
    ;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

footer {
    width: 100%;
}

#footer-top {
    display: flex;
    width: 100%;
}

.gray-bar {
    height: 20px;
    width: 100%;
    border: none;
    background-image: url('./assets/hr-img.png');
    margin: 35px 0;
}

header,
main,
footer {
    width: 85%;
}

h3 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}

button {
    height: 50px;
    width: 150px;
    background: rgb(187, 86, 78);
    color: white;
    text-align: right;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#spaced-icon {
    margin-left: 12px;
}

#header-left {
    display: flex;

}

ul {
    background-image: url('./assets/list-bg.png');
    display: flex;
    justify-content: space-between;
    font-family: 'Comic Sans MS';
    box-shadow: 0 5px 10px rgb(187, 187, 187);;
}

li {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#main-img {
    text-align: center;
    width: 100%;
}

#sub-head-gray {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: rgb(158, 158, 158);
}

#copyright {
    text-align: center;
    color: rgb(158, 158, 158);
}

p {
    color: gray;
}